
.pure{
  text-align: center;
}
button{
  margin-left: 50%;
}
h1,h3{
  text-align: center;
}
p{
  margin-left: 70px;
  margin-top: -20px;
}
.green{
  margin-left: 500px;
  margin-top: -124px;
}
.red{
  margin-left: 300px;
}